adal==1.2.2
aiohttp==3.7.4
alabaster==0.7.13
anyio==3.6.2
appdirs==1.4.4
arcp==0.2.1
argcomplete==1.12.3
argh==0.26.2
argon2-cffi==18.3.0
arrow==1.2.3
astroid==2.5.1
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
autobahn==17.10.1
Automat==20.2.0
autopep8==1.5.5
avro-python3==1.10.1
azure-ai-anomalydetector==3.0.0b2
azure-ai-formrecognizer==3.1.0b2
azure-ai-metricsadvisor==1.0.0b3
azure-ai-textanalytics==5.1.0b4
azure-appconfiguration==1.1.2
azure-applicationinsights==0.1.0
azure-batch==10.0.0
azure-cognitiveservices-anomalydetector==0.3.0
azure-cognitiveservices-formrecognizer==0.1.1
azure-cognitiveservices-knowledge-qnamaker==0.3.0
azure-cognitiveservices-language-luis==0.7.0
azure-cognitiveservices-language-spellcheck==2.0.0
azure-cognitiveservices-language-textanalytics==0.2.0
azure-cognitiveservices-personalizer==0.1.0
azure-cognitiveservices-search-autosuggest==0.2.0
azure-cognitiveservices-search-customimagesearch==0.2.0
azure-cognitiveservices-search-customsearch==0.3.0
azure-cognitiveservices-search-entitysearch==2.0.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-cognitiveservices-search-newssearch==2.0.0
azure-cognitiveservices-search-videosearch==2.0.0
azure-cognitiveservices-search-visualsearch==0.2.0
azure-cognitiveservices-search-websearch==2.0.0
azure-cognitiveservices-vision-computervision==0.7.0
azure-cognitiveservices-vision-contentmoderator==1.0.0
azure-cognitiveservices-vision-customvision==3.1.0
azure-cognitiveservices-vision-face==0.4.1
azure-common==1.1.27
azure-communication-administration==1.0.0b4
azure-communication-chat==1.0.0b4
azure-communication-sms==1.0.0b5
azure-core==1.9.1
azure-data-tables==12.0.0b4
azure-digitaltwins-core==1.1.0
azure-eventgrid==2.0.0b5
azure-eventhub==5.2.1
azure-eventhub-checkpointstoreblob==1.1.2
azure-eventhub-checkpointstoreblob-aio==1.1.2
azure-graphrbac==0.61.1
azure-identity==1.5.1
azure-keyvault==4.1.0
azure-keyvault-administration==4.0.0b3
azure-keyvault-certificates==4.2.2
azure-keyvault-keys==4.3.2
azure-keyvault-secrets==4.2.1
azure-loganalytics==0.1.0
azure-mgmt-advisor==9.0.0b1
azure-mgmt-alertsmanagement==1.0.0b1
azure-mgmt-apimanagement==1.0.0b1
azure-mgmt-appconfiguration==1.0.1
azure-mgmt-applicationinsights==0.3.1
azure-mgmt-appplatform==6.0.0b1
azure-mgmt-attestation==0.2.0
azure-mgmt-authorization==1.0.0
azure-mgmt-automanage==1.0.0b1
azure-mgmt-automation==1.0.0b1
azure-mgmt-azurestack==0.1.0
azure-mgmt-baremetalinfrastructure==1.0.0b1
azure-mgmt-batch==14.0.0b1
azure-mgmt-billing==6.0.0b1
azure-mgmt-botservice==0.2.0
azure-mgmt-cdn==10.0.0b1
azure-mgmt-cognitiveservices==11.0.0b1
azure-mgmt-commerce==6.0.0b1
azure-mgmt-communication==1.0.0b5
azure-mgmt-compute==18.0.0
azure-mgmt-confluent==1.0.0b1
azure-mgmt-consumption==8.0.0b1
azure-mgmt-containerinstance==7.0.0
azure-mgmt-containerregistry==8.0.0b1
azure-mgmt-containerservice==14.0.0
azure-mgmt-core==1.2.3
azure-mgmt-cosmosdb==6.0.0
azure-mgmt-costmanagement==0.2.0
azure-mgmt-customproviders==1.0.0b1
azure-mgmt-databox==1.0.0b1
azure-mgmt-databoxedge==1.0.0b1
azure-mgmt-databricks==1.0.0b1
azure-mgmt-datadog==1.0.0b2
azure-mgmt-datafactory==1.0.0b1
azure-mgmt-datalake-analytics==0.6.0
azure-mgmt-datalake-store==1.0.0b1
azure-mgmt-datamigration==4.0.0
azure-mgmt-datashare==1.0.0b1
azure-mgmt-deploymentmanager==1.0.0b1
azure-mgmt-devspaces==0.2.0
azure-mgmt-devtestlabs==9.0.0b1
azure-mgmt-digitaltwins==0.1.0
azure-mgmt-dns==3.0.0
azure-mgmt-documentdb==0.1.3
azure-mgmt-edgegateway==0.1.0
azure-mgmt-eventgrid==8.0.0b1
azure-mgmt-eventhub==8.0.0
azure-mgmt-frontdoor==0.3.0
azure-mgmt-hanaonazure==1.0.0b1
azure-mgmt-hdinsight==7.0.0b1
azure-mgmt-healthcareapis==1.0.0b1
azure-mgmt-hybridcompute==7.0.0b1
azure-mgmt-hybridkubernetes==0.1.0
azure-mgmt-imagebuilder==0.4.0
azure-mgmt-iotcentral==3.0.0
azure-mgmt-iothub==1.0.0b1
azure-mgmt-iothubprovisioningservices==0.2.0
azure-mgmt-keyvault==8.0.0
azure-mgmt-kubernetesconfiguration==0.2.0
azure-mgmt-kusto==1.0.0b1
azure-mgmt-labservices==1.0.0b1
azure-mgmt-loganalytics==7.0.0b1
azure-mgmt-logic==9.0.0b1
azure-mgmt-machinelearningcompute==0.4.1
azure-mgmt-machinelearningservices==1.0.0b1
azure-mgmt-maintenance==1.0.0b1
azure-mgmt-managedservices==6.0.0b1
azure-mgmt-managementgroups==0.2.0
azure-mgmt-managementpartner==0.1.1
azure-mgmt-maps==1.0.0b1
azure-mgmt-marketplaceordering==1.0.0b1
azure-mgmt-media==2.2.0
azure-mgmt-mixedreality==0.1.0
azure-mgmt-monitor==1.0.1
azure-mgmt-msi==1.0.0
azure-mgmt-netapp==1.0.0b1
azure-mgmt-network==17.0.0
azure-mgmt-notificationhubs==7.0.0b1
azure-mgmt-operationsmanagement==1.0.0b1
azure-mgmt-peering==1.0.0b1
azure-mgmt-policyinsights==1.0.0b1
azure-mgmt-powerbidedicated==1.0.0b1
azure-mgmt-powerbiembedded==2.0.0
azure-mgmt-privatedns==0.1.0
azure-mgmt-rdbms==8.0.0b1
azure-mgmt-recoveryservices==1.0.0b1
azure-mgmt-recoveryservicesbackup==0.7.0
azure-mgmt-redhatopenshift==0.1.0
azure-mgmt-redis==12.0.0
azure-mgmt-regionmove==1.0.0b1
azure-mgmt-relay==1.0.0b1
azure-mgmt-reservations==0.7.0
azure-mgmt-resource==16.0.0
azure-mgmt-resourcegraph==7.0.0b1
azure-mgmt-resourcemover==1.0.1b1
azure-mgmt-scheduler==7.0.0b1
azure-mgmt-search==8.0.0b1
azure-mgmt-security==1.0.0b1
azure-mgmt-securityinsight==1.0.0b1
azure-mgmt-serialconsole==0.1.0
azure-mgmt-servermanager==2.0.0
azure-mgmt-servicebus==6.0.0
azure-mgmt-servicefabric==0.4.0
azure-mgmt-signalr==1.0.0b1
azure-mgmt-sql==1.0.0
azure-mgmt-sqlvirtualmachine==0.5.0
azure-mgmt-storage==16.0.0
azure-mgmt-storagecache==0.3.0
azure-mgmt-storageimportexport==0.1.0
azure-mgmt-storagesync==0.2.0
azure-mgmt-streamanalytics==1.0.0rc1
azure-mgmt-subscription==1.0.0b1
azure-mgmt-support==6.0.0b1
azure-mgmt-synapse==0.2.0
azure-mgmt-timeseriesinsights==0.2.0
azure-mgmt-trafficmanager==0.51.0
azure-mgmt-vmwarecloudsimple==0.2.0
azure-mgmt-web==1.0.0
azure-mgmt-workloadmonitor==1.0.0b2
azure-schemaregistry==1.0.0b2
azure-schemaregistry-avroserializer==1.0.0b2
azure-search-documents==11.1.0b5
azure-servicebus==7.0.1
azure-servicefabric==7.2.0.46
azure-servicemanagement-legacy==0.20.7
azure-storage-blob==12.7.0b1
azure-storage-blob-changefeed==12.0.0b3
azure-storage-file-datalake==12.2.1
azure-storage-file-share==12.4.0b1
azure-storage-queue==12.1.5
azure-synapse==0.1.0
azure-synapse-accesscontrol==0.4.0
azure-synapse-artifacts==0.4.0
azure-synapse-managedprivateendpoints==0.1.0
azure-synapse-monitoring==0.1.0
azure-synapse-spark==0.4.0
azure-template==0.0.18b3
Babel==2.11.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
binaryornot==0.4.4
biopython==1.78
black==20.8b1
bleach==3.2.1
blinker==1.4
blosc==1.9.2
boto3==1.13.14
botocore==1.20.0
Bottleneck==1.2.1
brz-etckeeper==0.0.0
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.2.1
cbor==1.0.0
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==7.1.2
click-configfile==0.2.3
click-default-group==1.2.2
click-log==0.4.0
cloudpickle==1.6.0
cobra==0.26.2
colorama==0.4.4
coloredlogs==7.3
ConfigArgParse==1.2.3
configparser==5.3.0
constantly==15.1.0
cookiecutter==2.1.1
cryptography==3.3.2
cupshelpers==1.0
cwltool==3.0.20210124104916
cycler==0.10.0
Cython==0.29.21
dask==2021.1.0+dfsg
datapackage==1.15.2
datrie==0.8.2
dbus-python==1.2.16
decorator==4.4.2
defusedxml==0.6.0
depinfo==1.7.0
diff-match-patch==20200713
diskcache==5.4.0
distro==1.5.0
distro-info==1.0
docutils==0.19
dropbox==10.10.0
entrypoints==0.3
et-xmlfile==1.0.1
flake8==6.0.0
Flask==1.1.2
fsspec==0.8.4
ftputil==3.4
future==0.18.3
GDAL==3.2.2
GeoIP==1.3.2
gitdb==4.0.5
GitPython==3.1.14
goodtables==2.5.4
google-auth==1.5.1
greenlet==2.0.2
h11==0.14.0
h5py==2.10.0
h5py.-debian-h5py-serial==2.10.0
helpdev==0.7.1
hkdf==0.0.3
html5lib==1.1
httpcore==0.16.3
httplib2==0.18.1
httpx==0.23.3
humanfriendly==9.1
humanize==0.0.0
hyperlink==19.0.0
idna==2.10
ijson==3.2.0.post0
imageio==2.4.1
imagesize==1.4.1
importlib-metadata==6.0.0
importlib-resources==5.10.2
incremental==17.5.0
iniconfig==0.0.0
intervaltree==3.0.2
iotop==0.6
ipykernel==5.4.3
ipython==7.20.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isodate==0.6.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.0
jedi==0.18.0
jeepney==0.6.0
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==0.10.0
joblib==0.17.0
jsonlines==3.1.0
jsonpointer==2.3
jsonschema==3.2.0
jupyter-client==6.1.11
jupyter-console==6.2.0
jupyter-core==4.7.1
keyring==22.0.1
kiwisolver==1.3.1
kubernetes==12.0.1
lazy-object-proxy==0.0.0
linear-tsv==1.1.0
llvmlite==0.35.0
locket==0.2.0
lockfile==0.12.2
logilab-common==1.8.1
lxml==4.6.3
lz4==3.1.3+dfsg
magic-wormhole==0.12.0
markdown-it-py==2.1.0
MarkupSafe==2.1.2
matplotlib==3.3.4
mccabe==0.7.0
mdurl==0.1.2
memote==0.13.0
mercurial==5.6.1
meson==0.56.2
microsoft-opentelemetry-exporter-azuremonitor==1.0.0b1
mistune==0.8.4
mock==4.0.3
more-itertools==4.2.0
mpi4py==3.0.3
mpmath==1.2.1
msal==1.9.0
msal-extensions==0.3.0
msgpack==1.0.0
msrest==0.6.21
msrestazure==0.6.2
multidict==5.1.0
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.1.2
networkx==2.5
nftables==0.1
nose==1.3.7
notebook==6.2.0
numba==0.52.0
numexpr==2.7.2
numpy==1.19.5
numpydoc==1.5.0
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.3
optlang==1.6.1
packaging==23.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.1
partd==1.0.0
pathspec==0.8.1
patsy==0.5.1
pbr==5.5.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pluggy==0.13.0
portalocker==2.2.1
prettytable==0.7.2
prometheus-client==0.9.0
prompt-toolkit==3.0.14
prov==1.5.2
psutil==5.8.0
PuLP==1.6.0
py==1.10.0
py-ubjson==0.16.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.10.0
pycups==2.0.1
pycurl==7.43.0.6
pydantic==1.10.4
pydbus==0.6.0
pydocstyle==2.1.1
pydot==1.4.2
pyflakes==3.0.1
Pygments==2.14.0
PyGObject==3.38.0
pygraphviz==1.7
PyHamcrest==1.9.0
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.7.2
pylru==1.2.1
pyls-black==0.4.6
pyls-spyder==0.3.0
PyNaCl==1.4.0
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.6.0
pypng==0.0.20
PyQRCode==1.2.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
pyrsistent==0.15.5
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pysvn==1.9.12
pytest==6.0.2
python-apt==2.2.1
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.1.0
python-irodsclient==0.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-libsbml==5.19.7
python-slugify==8.0.0
python-snappy==0.5.3
PyTrie==0.2
pytz==2021.1
PyWavelets==1.1.1
pyxdg==0.27
PyYAML==5.3.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome==1.0.2
qtconsole==5.0.2
QtPy==1.9.0
ranger-fm==1.9.3
ratelimiter==1.2.0.post0
rdflib==5.0.0
rdflib-jsonld==0.5.0
regex==2020.11.13
reportbug==7.10.3+deb11u1
reportlab==3.5.59
requests==2.25.1
requests-oauthlib==1.0.0
rfc3986==1.5.0
rich==13.3.1
roman==2.0.0
rope==0.18.0
rsa==4.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.4
schema-salad==7.0.20210124093443
scikit-image==0.18.1
scikit-learn==0.23.2
scipy==1.6.0
SCons==4.0.1
scour==0.38.2
seaborn==0.11.1
SecretStorage==3.3.1
selinux==3.1
Send2Trash==1.6.0b1
service-identity==18.1.0
shellescape==3.4.1
simpleeval==0.9.12
simplejson==3.17.2
six==1.16.0
slip==0.6.5
slip.dbus==0.6.5
smmap==4.0.0
snakemake==5.24.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.1.0
soupsieve==2.2.1
spake2==0.8
SPARQLWrapper==1.8.5
sphinx==6.1.3
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==4.2.1
spyder-kernels==1.10.2
SQLAlchemy==2.0.3
statistics==1.0.3.5
swiglpk==5.0.8
sympy==1.11.1
tables==3.6.1
tableschema==1.20.2
tabulator==1.53.5
terminado==0.9.2
testpath==0.4.4
text-unidecode==1.3
textdistance==4.2.0
three-merge==0.1.1
tifffile==2021.2.1
toml==0.10.1
toolz==0.9.0
toposort==1.6
tornado==6.1
tqdm==4.57.0
traitlets==5.0.5
travis-encrypt==1.1.2
Twisted==20.3.0
txaio==20.4.1
txtorcon==20.0.0
typed-ast==1.4.2
typing-extensions==4.5.0
u-msgpack-python==2.3.0
uamqp==1.2.13
ujson==4.0.2
unattended-upgrades==0.1
unicodecsv==0.14.1
urllib3==1.26.5
visidata==2.2.1
watchdog==1.0.2
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==2.0.0
wrapt==1.12.1
wsaccel==0.6.2
wurlitzer==2.0.1
xdg==5
xlrd==2.0.1
xlwt==1.3.0
yapf==0.30.0
yappi==1.0
yarl==1.6.3
zipp==3.13.0
zope.interface==5.2.0
